<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ceptebakicim.com"
    android:label="@string/app_name">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="84f99f74b898c9812ce4c7e6ec762888b51241fd"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TumBakicilarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeklifDetayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CvActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeklifGonderdiklerimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KabulEdenlerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeklifOlusturActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeklifGonderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KabulEdilenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KabulBekleyenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BakiciBanaOzelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatPublicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeklifIslemleriActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatPublicAileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.KayitOlActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>